@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

.header {
  padding-block: 1.5625rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header.scrolled::before {
  background: #FEF7E5;
  backdrop-filter: blur(20px);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 73.125em) {
  .header__inner {
    gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .header__inner {
    gap: clamp( 15px , 9.3529411765px  +  1.7647058824vw , 30px );
  }
}
@media (max-width: 20em) {
  .header__inner {
    gap: 15px;
  }
}
.header__logo {
  z-index: 10;
}
.buttons-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
@media (min-width: 73.125em) {
  .buttons-active {
    gap: 33px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .buttons-active {
    gap: clamp( 10px , 1.3411764706px  +  2.7058823529vw , 33px );
  }
}
@media (max-width: 20em) {
  .buttons-active {
    gap: 10px;
  }
}
@media (max-width: 30.8125em) {
  .buttons-active {
    display: none;
  }
}
.buttons-active__login {
  position: relative;
  color: rgb(111, 30, 170);
  font-size: 0.875rem;
}
.buttons-active__login::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(111, 30, 170);
  height: 0.0625rem;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
html[data-input=mouse] .buttons-active__login:hover::after {
  width: 100%;
}
@media (max-width: 53.4375em) {
  .menu-header {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #FEF7E5;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .menu-header {
    right: 0;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 5.0625rem;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .menu-header::before {
    right: 0;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 73.125em) {
  .menu-header__list {
    gap: 33px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .menu-header__list {
    gap: clamp( 10px , 1.3411764706px  +  2.7058823529vw , 33px );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    gap: 10px;
  }
}
@media (max-width: 53.4375em) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.menu-header__item {
  font-size: 0.875rem;
}
@media (max-width: 53.4375em) {
  .menu-header__item {
    color: rgb(111, 30, 170);
    font-size: 1.5rem;
  }
}
.menu-header__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
html[data-input=mouse] .menu-header__link:hover {
  color: rgb(111, 30, 170);
}

.footer {
  background-color: #48156D;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2;
}

.column-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
@media (max-width: 27.75em) {
  .column-footer {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.column-footer__title {
  line-height: 1.2;
}
.column-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.375rem;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
  will-change: height;
}
@media (max-width: 27.75em) {
  .column-footer__list {
    height: 0;
    overflow: hidden;
  }
}
@media (min-width: 27.81125em) {
  .column-footer__list {
    height: auto !important;
    overflow: visible;
  }
}
.column-footer__link, .column-footer__email, .column-footer__phone {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.column-footer__link--address, .column-footer__email--address, .column-footer__phone--address {
  max-width: 10.625rem;
}
html[data-input=mouse] .column-footer__link:hover, html[data-input=mouse] .column-footer__email:hover, html[data-input=mouse] .column-footer__phone:hover {
  color: #C282F0;
}
.column-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
  will-change: height;
}
@media (max-width: 27.75em) {
  .column-footer__wrapper {
    height: 0;
    overflow: hidden;
  }
}
@media (min-width: 27.81125em) {
  .column-footer__wrapper {
    height: auto !important;
    overflow: visible;
  }
}
.column-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
}
.column-footer__label {
  color: #C282F0;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.column-footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.column-footer__schedule tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}
.column-footer__schedule tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 27.75em) {
  .column-footer__schedule tr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.3125rem;
  }
}

@media (min-width: 73.125em) {
  .body-footer {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .body-footer {
    padding-block: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-block: 30px;
  }
}
.body-footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(12.5rem, 100%), 1fr));
  row-gap: 1.875rem;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
@media (max-width: 27.75em) {
  .body-footer__container {
    width: 50%;
  }
}
.body-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.9375rem;
}

.column-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
  max-width: 9.375rem;
}
@media (max-width: 27.75em) {
  .column-social {
    gap: 0.625rem;
  }
}
.column-social__link {
  font-size: 1.5rem;
  color: #000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
html[data-input=mouse] .column-social__link:hover {
  color: #fff;
}
@media (min-width: 73.125em) {
  .bottom-footer {
    margin-bottom: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .bottom-footer {
    margin-bottom: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .bottom-footer {
    margin-bottom: 20px;
  }
}
.list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 73.125em) {
  .list-bottom {
    gap: 18px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .list-bottom {
    gap: clamp( 10px , 6.9882352941px  +  0.9411764706vw , 18px );
  }
}
@media (max-width: 20em) {
  .list-bottom {
    gap: 10px;
  }
}
@media (max-width: 27.75em) {
  .list-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
html[data-input=mouse] .list-bottom__link:hover {
  text-decoration: underline;
}

@media (min-width: 73.125em) {
  .page__hero {
    padding-top: 200px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__hero {
    padding-top: clamp( 100px , 62.3529411765px  +  11.7647058824vw , 200px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-top: 100px;
  }
}
@media (min-width: 73.125em) {
  .page__hero {
    padding-bottom: 300px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__hero {
    padding-bottom: clamp( 200px , 162.3529411765px  +  11.7647058824vw , 300px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-bottom: 200px;
  }
}
@media (min-width: 73.125em) {
  .page__advantages {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__advantages {
    padding-block: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .page__advantages {
    padding-block: 30px;
  }
}
@media (min-width: 73.125em) {
  .page__work {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__work {
    padding-block: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .page__work {
    padding-block: 30px;
  }
}
@media (min-width: 73.125em) {
  .page__support {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__support {
    padding-block: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .page__support {
    padding-block: 30px;
  }
}
@media (min-width: 73.125em) {
  .page__reviews {
    padding-top: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__reviews {
    padding-top: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .page__reviews {
    padding-top: 30px;
  }
}
@media (min-width: 73.125em) {
  .page__reviews {
    padding-bottom: 160px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__reviews {
    padding-bottom: clamp( 30px , -18.9411764706px  +  15.2941176471vw , 160px );
  }
}
@media (max-width: 20em) {
  .page__reviews {
    padding-bottom: 30px;
  }
}
@media (min-width: 73.125em) {
  .page__wild {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .page__wild {
    padding-block: clamp( 30px , 18.7058823529px  +  3.5294117647vw , 60px );
  }
}
@media (max-width: 20em) {
  .page__wild {
    padding-block: 30px;
  }
}

.hero {
  background-color: #FEF7E5;
}
.hero__container {
  position: relative;
}
.hero__container::before, .hero__container::after {
  content: "";
  position: absolute;
}
.hero__container::before {
  top: -6.25rem;
  left: 0;
  background: url("/src/assets/img/png/hero-decor-right.webp") 0 0/100% no-repeat;
  width: 7.375rem;
  height: 29.5625rem;
}
.hero__container::after {
  top: -6.25rem;
  right: 0;
  background: url("/src/assets/img/png/hero-decor-left.webp") 0 0/100% no-repeat;
  width: 12.4375rem;
  height: 35.0625rem;
}
@media (max-width: 55.625em) {
  .hero__container::before, .hero__container::after {
    display: none;
  }
}
.hero__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 73.125em) {
  .hero__inner {
    row-gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .hero__inner {
    row-gap: clamp( 15px , 8.6px  +  2vw , 32px );
  }
}
@media (max-width: 20em) {
  .hero__inner {
    row-gap: 15px;
  }
}
.hero__inner::after {
  content: "";
  position: absolute;
  bottom: -90%;
  left: 50%;
  background: url("/src/assets/img/png/rabbit.webp") 0 0/100% no-repeat;
  -webkit-animation: bounce 0.8s forwards infinite;
          animation: bounce 0.8s forwards infinite;
}
@media (min-width: 73.125em) {
  .hero__inner::after {
    width: 350px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .hero__inner::after {
    width: clamp( 250px , 212.3529411765px  +  11.7647058824vw , 350px );
  }
}
@media (max-width: 20em) {
  .hero__inner::after {
    width: 250px;
  }
}
@media (min-width: 73.125em) {
  .hero__inner::after {
    height: 254px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .hero__inner::after {
    height: clamp( 200px , 179.6705882353px  +  6.3529411765vw , 254px );
  }
}
@media (max-width: 20em) {
  .hero__inner::after {
    height: 200px;
  }
}
@media (max-width: 35.625em) {
  .hero__inner::after {
    translate: -50% 0;
  }
}
.hero__title {
  text-align: center;
  max-width: 35.3125rem;
}
@media (min-width: 73.125em) {
  .hero__title {
    font-size: 55px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .hero__title {
    font-size: clamp( 30px , 20.5882352941px  +  2.9411764706vw , 55px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__text {
  text-align: center;
  max-width: 30.625rem;
}
@media (min-width: 73.125em) {
  .hero__text {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .hero__text {
    font-size: clamp( 16px , 14.4941176471px  +  0.4705882353vw , 20px );
  }
}
@media (max-width: 20em) {
  .hero__text {
    font-size: 16px;
  }
}
.hero__text a {
  color: rgb(111, 30, 170);
}
html[data-input=mouse] .hero__text a:hover {
  text-decoration: underline;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 73.125em) {
  .advantages__container {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .advantages__container {
    -webkit-column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
       -moz-column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
            column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .advantages__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 46.5625em) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.headline-advantages {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.headline-advantages__title {
  line-height: 120.454545%; /* 53/44 */
  max-width: 32.9375rem;
}
@media (min-width: 73.125em) {
  .headline-advantages__title {
    font-size: 44px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .headline-advantages__title {
    font-size: clamp( 26px , 19.2235294118px  +  2.1176470588vw , 44px );
  }
}
@media (max-width: 20em) {
  .headline-advantages__title {
    font-size: 26px;
  }
}
@media (max-width: 46.5625em) {
  .headline-advantages__title {
    text-align: center;
    max-width: 100%;
  }
}
.headline-advantages__image {
  width: 17.5rem;
  height: 23.5625rem;
  margin-left: 6.25rem;
  margin-top: 1.6875rem;
}
@media (min-width: 73.125em) {
  .headline-advantages__image {
    margin-left: 103px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .headline-advantages__image {
    margin-left: clamp( 10px , -25.0117647059px  +  10.9411764706vw , 103px );
  }
}
@media (max-width: 20em) {
  .headline-advantages__image {
    margin-left: 10px;
  }
}
.content-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 73.125em) {
  .content-advantages {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-advantages {
    row-gap: clamp( 15px , 9.3529411765px  +  1.7647058824vw , 30px );
  }
}
@media (max-width: 20em) {
  .content-advantages {
    row-gap: 15px;
  }
}
@media (max-width: 46.5625em) {
  .content-advantages {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 29.125rem;
}
@media (min-width: 73.125em) {
  .content-advantages__item {
    row-gap: 19px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-advantages__item {
    row-gap: clamp( 10px , 6.6117647059px  +  1.0588235294vw , 19px );
  }
}
@media (max-width: 20em) {
  .content-advantages__item {
    row-gap: 10px;
  }
}
.content-advantages__item:not(:last-child) {
  border-bottom: 0.0625rem solid rgb(247, 165, 0);
}
@media (min-width: 73.125em) {
  .content-advantages__item:not(:last-child) {
    padding-bottom: 27px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-advantages__item:not(:last-child) {
    padding-bottom: clamp( 13px , 7.7294117647px  +  1.6470588235vw , 27px );
  }
}
@media (max-width: 20em) {
  .content-advantages__item:not(:last-child) {
    padding-bottom: 13px;
  }
}
.content-advantages__title {
  color: rgb(111, 30, 170);
  line-height: 129.166667%; /* 31/24 */
  font-weight: 700;
}
@media (min-width: 73.125em) {
  .content-advantages__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-advantages__title {
    font-size: clamp( 18px , 15.7411764706px  +  0.7058823529vw , 24px );
  }
}
@media (max-width: 20em) {
  .content-advantages__title {
    font-size: 18px;
  }
}
.content-advantages__text > *:not(:last-child) {
  margin-bottom: 0.4375rem;
}
@media (min-width: 73.125em) {
  .content-advantages__text--accent p:last-child {
    font-size: 15px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-advantages__text--accent p:last-child {
    font-size: clamp( 12px , 10.8705882353px  +  0.3529411765vw , 15px );
  }
}
@media (max-width: 20em) {
  .content-advantages__text--accent p:last-child {
    font-size: 12px;
  }
}
.content-advantages__text--small p {
  font-size: 0.6875rem;
}

.work__container {
  display: grid;
}
.work__title {
  line-height: 120.454545%; /* 53/44 */
  text-align: center;
}
@media (min-width: 73.125em) {
  .work__title {
    font-size: 44px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .work__title {
    font-size: clamp( 26px , 19.2235294118px  +  2.1176470588vw , 44px );
  }
}
@media (max-width: 20em) {
  .work__title {
    font-size: 26px;
  }
}
@media (min-width: 73.125em) {
  .work__title {
    margin-bottom: 95px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .work__title {
    margin-bottom: clamp( 50px , 33.0588235294px  +  5.2941176471vw , 95px );
  }
}
@media (max-width: 20em) {
  .work__title {
    margin-bottom: 50px;
  }
}
.work__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18.75rem, 100%), 1fr));
}
@media (min-width: 73.125em) {
  .work__body {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .work__body {
    -webkit-column-gap: clamp( 15px , 8.6px  +  2vw , 32px );
       -moz-column-gap: clamp( 15px , 8.6px  +  2vw , 32px );
            column-gap: clamp( 15px , 8.6px  +  2vw , 32px );
  }
}
@media (max-width: 20em) {
  .work__body {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (min-width: 73.125em) {
  .work__body {
    row-gap: 70px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .work__body {
    row-gap: clamp( 45px , 35.5882352941px  +  2.9411764706vw , 70px );
  }
}
@media (max-width: 20em) {
  .work__body {
    row-gap: 45px;
  }
}
@media (min-width: 73.125em) {
  .work__body {
    margin-bottom: 65px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .work__body {
    margin-bottom: clamp( 30px , 16.8235294118px  +  4.1176470588vw , 65px );
  }
}
@media (max-width: 20em) {
  .work__body {
    margin-bottom: 30px;
  }
}
.work__button {
  margin: 0 auto;
}

.item-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  translate: 0 -1.25rem;
  -webkit-transition: translate 0.4s ease, opacity 0.5s ease, visibility 0.5s;
  transition: translate 0.4s ease, opacity 0.5s ease, visibility 0.5s;
}
.item-work.animate {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
.item-work__image {
  position: relative;
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 73.125em) {
  .item-work__image {
    margin-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-work__image {
    margin-bottom: clamp( 45px , 39.3529411765px  +  1.7647058824vw , 60px );
  }
}
@media (max-width: 20em) {
  .item-work__image {
    margin-bottom: 45px;
  }
}
.item-work__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #FFF7C2;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  z-index: -1;
}
.item-work__image--parrot {
  height: 8.1875rem;
}
.item-work__title {
  line-height: 129.166667%; /* 31/24 */
  color: rgb(111, 30, 170);
  margin-bottom: 0.6875rem;
}
@media (min-width: 73.125em) {
  .item-work__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-work__title {
    font-size: clamp( 18px , 15.7411764706px  +  0.7058823529vw , 24px );
  }
}
@media (max-width: 20em) {
  .item-work__title {
    font-size: 18px;
  }
}
.item-work__text {
  max-width: 22.3125rem;
  line-height: 137.5%; /* 22/16 */
  text-align: center;
}
@media (min-width: 73.125em) {
  .item-work__text {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-work__text {
    font-size: clamp( 14px , 13.2470588235px  +  0.2352941176vw , 16px );
  }
}
@media (max-width: 20em) {
  .item-work__text {
    font-size: 14px;
  }
}

.support__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 46.5625em) {
  .support__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.support__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  aspect-ratio: 562/645;
}
.support__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-support {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 73.125em) {
  .content-support > * {
    margin-bottom: 26px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-support > * {
    margin-bottom: clamp( 15px , 10.8588235294px  +  1.2941176471vw , 26px );
  }
}
@media (max-width: 20em) {
  .content-support > * {
    margin-bottom: 15px;
  }
}
.content-support > *:last-child {
  margin-bottom: 0rem;
}
@media (max-width: 46.5625em) {
  .content-support {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content-support__label {
  font-weight: 700;
  color: rgb(247, 165, 0);
  text-transform: uppercase;
  line-height: 137.5%; /* 22/16 */
  margin-bottom: 0.5rem;
}
@media (min-width: 73.125em) {
  .content-support__label {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-support__label {
    font-size: clamp( 12px , 10.4941176471px  +  0.4705882353vw , 16px );
  }
}
@media (max-width: 20em) {
  .content-support__label {
    font-size: 12px;
  }
}
.content-support__title {
  line-height: 120.454545%; /* 53/44 */
  max-width: 32.5rem;
}
@media (min-width: 73.125em) {
  .content-support__title {
    font-size: 44px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-support__title {
    font-size: clamp( 26px , 19.2235294118px  +  2.1176470588vw , 44px );
  }
}
@media (max-width: 20em) {
  .content-support__title {
    font-size: 26px;
  }
}
@media (min-width: 73.125em) {
  .content-support__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-support__title {
    margin-bottom: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .content-support__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 46.5625em) {
  .content-support__title {
    text-align: center;
  }
}
@media (min-width: 73.125em) {
  .content-support__text {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .content-support__text {
    font-size: clamp( 14px , 13.2470588235px  +  0.2352941176vw , 16px );
  }
}
@media (max-width: 20em) {
  .content-support__text {
    font-size: 14px;
  }
}
@media (max-width: 46.5625em) {
  .content-support__text {
    text-align: center;
  }
}

.reviews__container {
  position: relative;
}
.reviews__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("/src/assets/img/png/decor-heart.webp") 0 0/100% no-repeat;
  width: 12.5rem;
  aspect-ratio: 1;
  z-index: 1;
}
@media (max-width: 55.625em) {
  .reviews__container::after {
    display: none;
  }
}
.reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 73.125em) {
  .reviews__header {
    row-gap: 24px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .reviews__header {
    row-gap: clamp( 15px , 11.6117647059px  +  1.0588235294vw , 24px );
  }
}
@media (max-width: 20em) {
  .reviews__header {
    row-gap: 15px;
  }
}
@media (min-width: 73.125em) {
  .reviews__header {
    margin-bottom: 27px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .reviews__header {
    margin-bottom: clamp( 20px , 17.3647058824px  +  0.8235294118vw , 27px );
  }
}
@media (max-width: 20em) {
  .reviews__header {
    margin-bottom: 20px;
  }
}
.reviews__title {
  font-weight: 700;
}
@media (min-width: 73.125em) {
  .reviews__title {
    font-size: 43px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .reviews__title {
    font-size: clamp( 26px , 19.6px  +  2vw , 43px );
  }
}
@media (max-width: 20em) {
  .reviews__title {
    font-size: 26px;
  }
}
.reviews__label {
  text-align: center;
}
@media (min-width: 73.125em) {
  .reviews__label {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .reviews__label {
    font-size: clamp( 16px , 14.4941176471px  +  0.4705882353vw , 20px );
  }
}
@media (max-width: 20em) {
  .reviews__label {
    font-size: 16px;
  }
}
.reviews__label a {
  color: rgb(111, 30, 170);
}
html[data-input=mouse] .reviews__label a:hover {
  text-decoration: underline;
}
.partners {
  background-color: rgb(111, 30, 170);
}
@media (min-width: 73.125em) {
  .partners {
    padding-block: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .partners {
    padding-block: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .partners {
    padding-block: 20px;
  }
}
.partners__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(10.625rem, 100%), 1fr));
  row-gap: 0.9375rem;
}
@media (min-width: 73.125em) {
  .partners__container {
    -webkit-column-gap: 64px;
       -moz-column-gap: 64px;
            column-gap: 64px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .partners__container {
    -webkit-column-gap: clamp( 20px , 3.4352941176px  +  5.1764705882vw , 64px );
       -moz-column-gap: clamp( 20px , 3.4352941176px  +  5.1764705882vw , 64px );
            column-gap: clamp( 20px , 3.4352941176px  +  5.1764705882vw , 64px );
  }
}
@media (max-width: 20em) {
  .partners__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 24.5625em) {
  .partners__container {
    justify-items: center;
  }
}
.partners__image {
  width: 11.0625rem;
  height: 5.4375rem;
  will-change: scale;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}
html[data-input=mouse] .partners__image:hover {
  scale: 1.03;
}
.partners__link {
  opacity: 0;
  visibility: hidden;
  translate: -0.625rem 0;
  -webkit-transition: translate 0.4s ease, opacity 0.5s ease, visibility 0.5s;
  transition: translate 0.4s ease, opacity 0.5s ease, visibility 0.5s;
}
.partners__link.animate {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}

.wild__container {
  max-width: 50rem !important;
  position: relative;
  display: grid;
}
@media (min-width: 73.125em) {
  .wild__container > * {
    margin-bottom: 76px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .wild__container > * {
    margin-bottom: clamp( 40px , 26.4470588235px  +  4.2352941176vw , 76px );
  }
}
@media (max-width: 20em) {
  .wild__container > * {
    margin-bottom: 40px;
  }
}
.wild__container > *:last-child {
  margin-bottom: 0rem;
}
.wild__container::before, .wild__container::after {
  content: "";
  position: absolute;
}
.wild__container::before {
  top: -10%;
  left: 0;
  background: url("/src/assets/img/png/decor-wild-left.webp") 0 0/100% no-repeat;
  width: 7.5rem;
  height: 17.3125rem;
}
.wild__container::after {
  bottom: -10%;
  right: 0;
  background: url("/src/assets/img/png/decor-wild-rigth.webp") 0 0/100% no-repeat;
  width: 8.75rem;
  height: 13.75rem;
}
@media (max-width: 55.625em) {
  .wild__container::before, .wild__container::after {
    display: none;
  }
}
.wild__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 73.125em) {
  .wild__header {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .wild__header {
    row-gap: clamp( 15px , 9.3529411765px  +  1.7647058824vw , 30px );
  }
}
@media (max-width: 20em) {
  .wild__header {
    row-gap: 15px;
  }
}
.wild__title {
  line-height: 120.454545%; /* 53/44 */
  text-align: center;
}
@media (min-width: 73.125em) {
  .wild__title {
    font-size: 44px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .wild__title {
    font-size: clamp( 26px , 19.2235294118px  +  2.1176470588vw , 44px );
  }
}
@media (max-width: 20em) {
  .wild__title {
    font-size: 26px;
  }
}
.wild__text {
  font-size: 0.8125rem;
  text-align: center;
  max-width: 28.4375rem;
}
.wild__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15.625rem, 100%), 1fr));
  gap: 2rem;
}
@media (min-width: 73.125em) {
  .wild__body {
    margin-bottom: 48px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .wild__body {
    margin-bottom: clamp( 30px , 23.2235294118px  +  2.1176470588vw , 48px );
  }
}
@media (max-width: 20em) {
  .wild__body {
    margin-bottom: 30px;
  }
}
.wild__button {
  margin: 0 auto;
}

.item-wild {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  will-change: translate;
}
html[data-input=mouse] .item-wild:hover {
  translate: 0 -0.375rem;
  -webkit-box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.6);
}
html[data-input=mouse] .item-wild:hover .item-wild__link::after {
  width: 100%;
}
html[data-input=mouse] .item-wild:hover .item-wild__image img {
  scale: 1.03;
}
.item-wild__inner {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-wild__image {
  aspect-ratio: 384/238;
  overflow: hidden;
}
.item-wild__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
  will-change: scale;
}
.item-wild__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 0.0625rem solid rgb(232, 220, 248);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 73.125em) {
  .item-wild__content {
    padding: 35px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-wild__content {
    padding: clamp( 20px , 14.3529411765px  +  1.7647058824vw , 35px );
  }
}
@media (max-width: 20em) {
  .item-wild__content {
    padding: 20px;
  }
}
.item-wild__content > * {
  margin-bottom: 0.9375rem;
}
.item-wild__content > *:last-child {
  margin-bottom: 0rem;
}
.item-wild__time {
  color: rgb(247, 165, 0);
  line-height: 146.666667%; /* 22/15 */
}
@media (min-width: 73.125em) {
  .item-wild__time {
    font-size: 15px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-wild__time {
    font-size: clamp( 13px , 12.2470588235px  +  0.2352941176vw , 15px );
  }
}
@media (max-width: 20em) {
  .item-wild__time {
    font-size: 13px;
  }
}
.item-wild__title {
  line-height: 129.166667%; /* 31/24 */
}
@media (min-width: 73.125em) {
  .item-wild__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-wild__title {
    font-size: clamp( 18px , 15.7411764706px  +  0.7058823529vw , 24px );
  }
}
@media (max-width: 20em) {
  .item-wild__title {
    font-size: 18px;
  }
}
.item-wild__text {
  font-size: 0.6875rem;
  line-height: 200%; /* 22/11 */
  max-width: 15.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 73.125em) {
  .item-wild__text {
    margin-bottom: 27px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-wild__text {
    margin-bottom: clamp( 15px , 10.4823529412px  +  1.4117647059vw , 27px );
  }
}
@media (max-width: 20em) {
  .item-wild__text {
    margin-bottom: 15px;
  }
}
.item-wild__link {
  position: relative;
  color: rgb(111, 30, 170);
  line-height: 118.75%; /* 19/16 */
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  will-change: width;
}
@media (min-width: 73.125em) {
  .item-wild__link {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-wild__link {
    font-size: clamp( 13px , 11.8705882353px  +  0.3529411765vw , 16px );
  }
}
@media (max-width: 20em) {
  .item-wild__link {
    font-size: 13px;
  }
}
.item-wild__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(111, 30, 170);
  width: 0;
  height: 0.0625rem;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@font-face {
  font-family: "iconfont";
  src: url("/src/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "iconfont";
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-fb"]::before {
  content: "\e900";
}

[class*="--icon-google"]::before {
  content: "\e901";
}

[class*="--icon-icon"]::before {
  content: "\e902";
}

[class*="--icon-instagram"]::before {
  content: "\e903";
}

[class*="--icon-logo"]::before {
  content: "\e904";
}

[class*="--icon-partner-02"]::before {
  content: "\e905";
}

[class*="--icon-partner-03"]::before {
  content: "\e906";
}

[class*="--icon-partner-04"]::before {
  content: "\e907";
}

[class*="--icon-twitter"]::before {
  content: "\e908";
}

.components__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}
.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: rgb(247, 165, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  background-color: rgb(247, 165, 0);
  width: 70%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 53.49875em) {
  .icon-menu {
    display: none;
  }
}

.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu span {
  width: 0;
}

.button {
  font-weight: 700;
  color: #fff;
  background-color: rgb(111, 30, 170);
  padding-block: 0.875rem;
  padding-inline: 2.5rem;
  border-radius: 1.5rem;
  text-transform: capitalize;
  line-height: 118.75%; /* 19/16 */
  letter-spacing: 0.0125rem;
  border: 0.0625rem solid rgb(111, 30, 170);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--small {
  padding-block: 0.5625rem;
  padding-inline: 2.1875rem;
}
html[data-input=mouse] .button:hover {
  background-color: transparent;
  color: rgb(111, 30, 170);
}

.title {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #C282F0;
}

.icon-more {
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-more.icon-active::after {
  -webkit-transform: translateX(0) rotate(-90deg);
      -ms-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
}
.icon-more::before, .icon-more::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #C282F0;
  height: 0.125rem;
  border-radius: 0.375rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.icon-more::before {
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.icon-more::after {
  rotate: 90deg;
  top: 50%;
  translate: 0 -50%;
}
@media (min-width: 27.81125em) {
  .icon-more {
    display: none;
  }
}

.item-review {
  background-color: rgb(223, 245, 246);
  border-radius: 1.25rem;
}
.item-review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 73.125em) {
  .item-review__inner {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-review__inner {
    -webkit-column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
       -moz-column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
            column-gap: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .item-review__inner {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (min-width: 73.125em) {
  .item-review__inner {
    padding-block: 58px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-review__inner {
    padding-block: clamp( 25px , 12.5764705882px  +  3.8823529412vw , 58px );
  }
}
@media (max-width: 20em) {
  .item-review__inner {
    padding-block: 25px;
  }
}
@media (min-width: 73.125em) {
  .item-review__inner {
    padding-inline: 40px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-review__inner {
    padding-inline: clamp( 20px , 12.4705882353px  +  2.3529411765vw , 40px );
  }
}
@media (max-width: 20em) {
  .item-review__inner {
    padding-inline: 20px;
  }
}
@media (max-width: 45.625em) {
  .item-review__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 32.5em) {
  .item-review__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.item-review__logo {
  width: 14.875rem;
  aspect-ratio: 1;
}
@media (min-width: 73.125em) {
  .item-review__logo {
    width: 238px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-review__logo {
    width: clamp( 150px , 116.8705882353px  +  10.3529411765vw , 238px );
  }
}
@media (max-width: 20em) {
  .item-review__logo {
    width: 150px;
  }
}
.item-review__content {
  max-width: 44.3125rem;
}
.item-review__content blockquote {
  margin-bottom: 0.5rem;
}
@media (min-width: 73.125em) {
  .item-review__content blockquote {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .item-review__content blockquote {
    font-size: clamp( 12px , 10.4941176471px  +  0.4705882353vw , 16px );
  }
}
@media (max-width: 20em) {
  .item-review__content blockquote {
    font-size: 12px;
  }
}
.item-review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.item-review__author::before {
  color: rgb(247, 165, 0);
  font-size: 1.375rem;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 73.125rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

html[data-input=mouse] .menu-dropdown__item--submenu:hover > .menu-dropdown__submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

html[data-input=keyboard] > * :focus-visible {
  outline: 0.125rem solid rgb(111, 30, 170);
  outline-offset: 0.25rem;
}
html[data-input=keyboard] .is-active .submenu-dropdowne {
  display: block;
}